.App { text-align: center; }
.App-logo { animation: App-logo-spin infinite 20s linear; height: 80px; }
.App-header { background-color: #222222; padding: 20px; color: white; }
.App-header ul { text-align: left; list-style: none; }
.App-header hr { border: 1px aliceblue; }
.App-header a:link { text-decoration: none; color: #fff; }
.App-header a:visited { text-decoration: none; color: #666; }
.App-header a:active { text-decoration: none; color: #666; }
.App-header a:hover { text-decoration: underline; color: lightcoral; }
.App-intro { font-size: large; }
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
